<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <title>Bootstrap demo</title>
</head>

<body>
    <div class="container-md" style="background-color: blueviolet;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium atque consequuntur quo ea debitis! Qui vero ad dolor, iure quae ut corporis enim distinctio nulla ipsam, veritatis nemo tenetur earum?

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, suscipit tempore voluptatum odio iusto earum quo sequi qui aspernatur repellat, dicta dolorem, assumenda error! Aperiam vitae id nesciunt temporibus ipsam!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum provident reprehenderit earum exercitationem rem maiores in repellendus non quas, dignissimos temporibus quibusdam expedita porro perferendis veritatis quam numquam quisquam molestias.
    </div>
</body>

</html>